<h1>Events created by <%= @user.name %></h1>

<% if @events.empty? %>
    <div>User currently doesn't have any created events </div>
<% else %>
    <% @events.each do |e| %>
    <div class="container">
        <div class="title">
            <strong>Title: </strong>
            <%= e.name %>
        </div>
        <div class="date">
            <strong>Date: </strong>
            <%= e.date %>
        </div>
        <div class="location">
            <strong>Location: </strong>
            <%= e.location %>
        </div>    
        <div class="attendees">
            <strong>Attendees: </strong>
            <% if !e.attendees.empty? %>
                <% e.attendees.each do |a| %>
                    <%= a.name %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="show-event">
        <%= link_to 'Show Event', event_path(e) %>
    </div>
    <% end %>
<% end %>

<h1>Events attended by <%= @user.name %> </h1>

<% if @user.attended_events.empty? %>
    <div>User currently doesn't attend any events</div>
<% else %>
    <% @user.attended_events.each do |ae|%>
        <div class="container">
            <div class="title">
                <%= ae.name %>
            </div>
            <div class="creator">
                <%= ae.creator.name %>
            </div>
            <div class="show-event">
                <%= link_to 'Show Event', event_path(ae) %>
            </div>
        </div>
    <% end %>
<% end %>

<%= link_to 'Back', root_path%>