<h1>Events created by <%= @user.name %></h1>

<% if @events.empty? %>
    <div>User currently doesn't have any created events </div>
<% else %>
    <div class="events-container">
        
        <% @events.each do |e| %>
        <div class="event">
            <div class="title">
                <strong>Title: </strong>
                <%= e.name %>
            </div>
            <div class="date">
                <strong>Date: </strong>
                <%= e.date %>
            </div>
            <div class="location">
                <strong>Location: </strong>
                <%= e.location %>
            </div>
            
            <div class="show-event">
                <%= link_to 'Show Event', event_path(e) %>
            </div>
        </div>
        
        <% end %>
    </div>
<% end %>

<h1>Events attended by <%= @user.name %> </h1>

<% if @user.attended_events.empty? %>
    <div>User currently doesn't attend any events</div>
<% else %>
    <div class="events-container">
        <% @user.attended_events.each do |ae|%>
            <div class="event">
                <div class="title">
                    <%= ae.name %>
                </div>
                <div class="creator">
                    <%= ae.creator.name %>
                </div>
                <div class="show-event">
                    <%= link_to 'Show Event', event_path(ae) %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<%= link_to 'Back', root_path%>