<div class="section">
    <div class="container profile">
        <div class="columns is-centered">
            <div class="column is-9">
                <h2><%= @user.name %>'s Profile</h2>
                <div class="columns is-centered">
                    <div class="column has-text-centered">
                        <h3>Hosted Events: <%= @events.size%></h3>
                        <% if @events.empty? %>
                            <div>User currently doesn't have any created events </div>
                        <% else %>
                            <ul class="user-show-events-list">
                                <% @events.each do |event| %>
                                    <li><%= link_to event.name, event_path(event) %></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                    <div class="column has-text-centered">
                        <h3>Upcoming Events: <%= @attended_events_future.size %></h3>
                        <% if @attended_events_future.empty? %>
                            <div>User doesn't have any planned events </div>
                        <% else %>
                            <% @attended_events_future.each do |future_event| %>
                                <%= link_to future_event.name, event_path(future_event) %>
                            <% end %>
                        <% end %>
                    </div>

                    <div class="column has-text-centered">
                        <h3>Attended Events: <%= @attended_events_past.size %></h3>
                        <% if @attended_events_past.empty? %>
                            <div>User did not attend any events.</div>
                        <% else %>
                            <% @attended_events_past.each do |past_event| %>
                                <%= link_to past_event.name, event_path(past_event) %>
                            <% end %>
                        <% end %>
                    </div>
                </div>              
              
                    
            </div>
        </div>   
        
    </div>
</div>