<div class="top">
    <div class="section-index">
        <h2>Upcoming Events</h2>
        <div class="events-container">
            <% if @events.future.empty? %>
                <div>No Upcoming Events </div>
            <% else %>
                <% @events.future.each do |event_future| %>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-title">
                            <%= link_to event_future.name , event_path(event_future) %>
                        </div>
                        <div class="card-description">
                            <div class="content">
                                <%= event_future.description %>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="event-date">
                                <%= event_future.date %>
                            </div>
                            <div class="event-location">
                                <%= event_future.location %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="bottom">
    <div class="section-index">
        <h2>Past Events</h2>
        <div class="events-container">
            <% if @events.past.empty? %>
                <div>No Past Events </div>
            <% else %>
                <% @events.past.each do |event_past| %>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-title">
                            <%= link_to event_past.name , event_path(event_past) %>
                        </div>
                        <div class="card-description">
                            <div class="content">
                                <%= event_past.description %>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="event-date">
                                <%= event_past.date %>
                            </div>
                            <div class="event-location">
                                <%= event_past.location %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
